<nav class="navbar fixed-top bg-dark border-bottom border-body navbar-expand-md " data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">e-bOUCk</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Tus anotaciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalSubrayados"
                                (click)="this.obtenerSubrayados()">Subrayados</a>
                        </li>
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modalComentarios"
                                (click)="this.obtenerComentarios()">Comentarios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Capitulos
                    </a>
                    <ul class="dropdown-menu" id="capitulos">
                        <li *ngFor="let capitulo of this.capitulos">
                            <button class="dropdown-item"
                                (click)="rutaCapitulo(capitulo.href)">{{capitulo.label}}</button>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <button class="nav-link" (click)="cambiarVista(true)">Vista de libro</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" (click)="cambiarVista(false)">Vista de seguido</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" (click)="colorTema(false)" *ngIf="!tema"><i
                            class="bi bi-brightness-high-fill"></i></button>
                    <button class="nav-link" (click)="colorTema(true)" *ngIf="tema"><i
                            class="bi bi-moon-fill"></i></button>
                </li>
            </ul>
            <button class="Btn" (click)="signOutWithCognito()">
                <i class="bi bi-box-arrow-right me-1"></i>
                <div class="text">Salir</div>
            </button>

        </div>
    </div>
</nav>
<app-spinner *ngIf="loading"></app-spinner>


<div class="modal" id="modalSubrayados" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subrayados de: {{nombreLibro}}</h5>
                <button type="button" #modalSubrayados class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 *ngIf="subrayados.length === 0">Aún no has subrayado nada en este libro</h6>
                <div *ngFor="let subrayado of subrayados" class="card mb-3" style="width: 45rem;">
                    <i class="bi bi-chat-left-quote-fill position-absolute top-0 end-0 fs-2 text-primary"></i>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">Subrayado el día
                            {{mostrarFecha(subrayado.fecha.toString())}} a
                            las
                            {{mostrarHora(subrayado.fecha.toString())}}</h6>
                        <p class="card-text">{{subrayado.texto}}</p>
                        <button class="btn btn-outline-info ms-2" (click)="navegarASubrayado(subrayado)">Ir</button>
                        <button class="btn btn-outline-danger ms-2"
                            (click)="eliminarSubrayado(subrayado.id)">Eliminar</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalComentarios" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Comentarios de: {{nombreLibro}}</h5>
                <button type="button" #modalComentarios class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 *ngIf="comentarios.length === 0">Aún no has puesto ningún comentario en este libro</h6>
                <div *ngFor="let comentario of comentarios" class="card mb-3" style="width: 45rem;">
                    <i class="bi bi-chat-left-quote-fill position-absolute top-0 end-0 fs-2 text-primary"></i>
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-body-secondary">Añadido el día
                            {{mostrarFecha(comentario.fecha.toString())}} a
                            las
                            {{mostrarHora(comentario.fecha.toString())}}</h6>
                        <p class="card-text" *ngIf="!editando.get(comentario.id)">{{comentario.texto}}</p>
                        <div class="d-flex" *ngIf="editando.get(comentario.id)">
                            <textarea class="form-control" id="textoNuevo" aria-label="Edita el comentario"
                                value="{{comentario.texto}}"></textarea>
                            <button class="btn btn-info ms-2" (click)="editarComentario(comentario.id)">Editar</button>
                        </div>
                        <button class="btn btn-outline-info mt-2" (click)="editarComentario(comentario.id)"
                            [disabled]="editando.get(comentario.id)">Editar</button>
                        <button class="btn btn-outline-danger mt-2 ms-2"
                            (click)="eliminarComentario(comentario)">Eliminar</button>
                    </div>
                </div>
                <div>
                    <div class="form-group">
                        <label class="form-label">Nuevo comentario</label>
                        <div class="d-flex align-middle">
                            <input class="form-control" type="text" id="comentario" (blur)="nuevoComentario($event)">
                            <button class="btn btn-outline-success mt-2" [disabled]="error">Añadir</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>