<app-nav></app-nav>


<div class="content bg-secondary d-flex flex-column">

    <div class="text-center mb-2">
        <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
            Anterior
        </button>
        <button class="btn btn-outline-info mx-2" id="button" mwlCalendarToday [(viewDate)]="viewDate">
            Hoy
        </button>
        <button class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
            Siguiente
        </button>
    </div>
    <div class="text-center">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'es' }}</h3>
    </div>
    <br />
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" [locale]="'es'"
        [weekStartsOn]="1">
    </mwl-calendar-month-view>

    <div class="d-flex flex-column text-center content">

        <h1>Tus libros</h1>

        <h2 *ngIf=" libros.length===0">Aún no has añadido ningún libro</h2>
        <div class="d-flex flex-wrap">
            <div *ngFor="let libro of libros; index as i" class="card mb-3 me-2" style="width: 30rem;">
                <i *ngIf="!mostrarFecha(libro.date)"
                    class="bi bi-calendar-check position-absolute top-0 end-0 fs-2 me-1 text-primary"></i>
                <i *ngIf="mostrarFecha(libro.date)"
                    class="bi bi-calendar-check-fill position-absolute top-0 end-0 fs-2 me-1 text-primary"></i>
                <div class="card-body">
                    <h5 class="card-title">{{libro.nombreReal}}</h5>
                    <div *ngIf="mostrarFecha(libro.date)">
                        <h6 class="card-subtitle mb-2 text-body-secondary">Lectura planificada para el día
                            {{mostrarFecha(libro.date)}}</h6>
                        <button class="btn btn-outline-danger mt-2" (click)="quitarFecha(libro.id)">Quitar</button>
                    </div>
                    <div *ngIf="!mostrarFecha(libro.date)">
                        <h6 class="card-subtitle mb-2 text-body-secondary">(No hay día planificado)</h6>
                        <div class="d-flex">
                            <input class="form-control" id="fechaNueva{{i}}" type="date" aria-label="Edita la fecha"
                                value="{{mostrarFecha(libro.date)}}" />
                            <button class="btn btn-info ms-2"
                                (click)="cambiarFecha(libro.id, libro.nombreReal, i)">Añadir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-spinner *ngIf="loading"></app-spinner>
</div>