.content {
  padding-top: 100px;
  padding-inline: 200px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card img:hover {
  cursor: pointer;
  background-color: rgb(201, 200, 200);
}

app-nav {
  z-index: 100;
}

#ojo {
  display: none;
  cursor: pointer;
  left: 120px;
}

#ojo i {
  cursor: pointer;
}

.card img:hover {
  opacity: 0.7;
  cursor: pointer;
}

.card img:hover + #ojo {
  display: block;
  color: black;
}

.enlace {
  text-decoration: none;
  color: black;
}

.enlace :hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(255, 166, 0);
}

#puntuacion {
  width: 80px;
  font-size: 1.7em;
  color: red;
}
