<body class="bg-dark d-flex flex-column">
    <div class="text-center align-middle text-white">
        <h1 id="titulo"><span>Bienvenido a e-b<b>UOC</b>k</span></h1>
        <div>
            <button class="btn btn-primary" routerLink="/login">Iniciar sesión</button>
            <span class="ms-2 me-2"></span>
            <button class="btn btn-success" routerLink="/register">Registrarse</button>
        </div>
    </div>
    <p class="fs-6 text-light opacity-50 position-absolute bottom-0 start-50 translate-middle-x">TFM realizado por
        por Juan Pedro García Castaño - Máster de Desarrollo de Sitios y Aplicaciones Web en la UOC.</p>
</body>